body {
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    background: #f8fcff;

}

.header {
    width: 100%;
    min-height: 108px;
}

.container {
    margin: 0 auto;
    height: 100%;
}

.header-content {
    display: flex;
    min-height: 108px;
    height: 100%;
    width: 100vw;
    gap: 20px;
    width: 100vw;
    padding: 0px 120px;
}

.header-content__navi {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    min-width: 370px;
}

.header-content__logo {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    min-width: 54px;
    min-height: 48px;

}

.header-content__messenger {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
    min-width: 370px;
}


/* ==========================================End footer========================================= */

.main-base {
    max-height: 582px;
}

.main-section {
    position: relative;
}

.main-base__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f8fcff;
    max-height: 582px;
    position: relative;
    z-index: 1;


}

.inner-teatle {
    font-size: 52px;
    font-weight: 600;
    line-height: 63px;
    margin: 0px auto;
    padding-bottom: 30px;
    padding-top: 120px;
}

.inner-content {
    font-size: 24px;
    line-height: 29px;
}

.content-items {
    padding-bottom: 15px;
}

.main__base-SVG {
    margin-right: 19px;
}

.content-items:last-child {
    padding-bottom: 60px;
}

.main-base__button {
    max-width: 288px;
    max-height: 56px;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    background: #d0dce7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 112.5px;
    color: #1d6fb6;
    font-weight: 500;
    margin-bottom: 120px;
    transition: .5s;
}

.main-base__button:hover {
    background: #83add3;
    color: #f8fcff;
}

.main-base__video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: #102e49cc;
    object-fit: cover;
}

.main-base__video-one {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0;
}

/* ======================End main-base================================= */

.main-cataloge__store {
    padding-left: 120px;
    padding-top: 120px;
    display: flex;
    justify-content: center;
}

.store-chapter {
    min-width: 282px;
    max-height: 700px;
    border: 2px solid #d0dce7;
    padding: 30px;
}

.store-chapter__item {
    padding-bottom: 20px;
    font-weight: 500;
}

.store-product {
    padding: 0px 120px;
    position: relative;
}

.store-product__laptop {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 26px;
}

.laptop {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.laptop--first {
    width: 100%;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    font-size: 24px;
}

.laptop--last {
    width: 100%;
    grid-column: 3 / 5;
    grid-row: 3 / 5;
    font-size: 24px;
}


.laptop:hover .laptop__background {
    opacity: 1;
    Animation: store__catalog-product-laptop_background .5s;
    transform: translateY(0px);
}

.laptop img {
    width: 100%;
}

.laptop__background {
    background: #1d6fb6b3;
    height: 26.7%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f8fcff;
    font-weight: 500;
    transition: .7s;
    transform: translateY(100%);
}

.background-first {
    transform: translateY(100%);
}

.background-last {
    transform: translateY(100%);
}

.store-product__watch {
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 120px;
}

.watch {
    position: relative;
}

.button_main {
    width: 100%;
    min-height: 56px;
    border-radius: 100px;
    background: #d0dce7;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1d6fb6;
    font-weight: 500;
    transition: .5s;
    margin: 30px 47px;
}

.watch__button {
    border: 1px solid #d0dce7;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 289px;
}

.button_main:hover {
    background: #83add3;
    color: #f8fcff;
}

.watch_popularity {
    width: 33.8%;
    height: 15.8%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 0px 100px 100px 0px;
    background: #f8fcff;
    color: #1d6fb6;
    font-weight: 500;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 8.5%;
    font-size: 100%;
}

.watch:hover .watch_popularity {
    width: 38.5%;
    align-items: center;
    Animation: watch_popularity .7s infinite alternate;
}

.watch img {
    width: 100%;
}

@keyframes watch_popularity {
    0% {
        width: 33.8%;
    }
    100% {
        width: 38.5%;
        background: #83add3;
        color: white;
    }
}

/* ===========End-main-cataloge============================================== */

.footer {
    width: 100%;
    height: 80px;
    background: #788088;
    margin-top: 120px;
}

.footer__emblem {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 30px 0px;
    width: 100%;
}

.footer__text {
    color: #f8fcff;
}