* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    block-size: border-box;
}

.btn-open {
    width: 300px;
    height: 50px;
    cursor: pointer;
    font-size: 20px;
}

.modal {
    position: fixed;
    inset: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000084;
    display: none;
}

.modal__window {
    position: relative;
    width: 50vw;
    min-height: 40vh;
    padding: 50px 30px 30px 20px;
    border-radius: 10px;
    background-color: #fff;
}

.modal__close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    font-weight: 700;
    background: none;
    border: none;
    cursor: pointer;
}

.modal--open {
    display: flex;
}