.hall {
    position: relative;
    background: #131517;
    z-index: var(--layer-1);
}

.hall__title h1 {
    position: relative;
    z-index: var(--layer-3);
    width: 530px;
    padding-top: 111px;
    padding-bottom: 65px;
}

@media (width <=1434px) {
    .hall__title h1 {
        padding-bottom: 30px;
    }
}

@media (width <=1220px) {
    .hall__title h1 {
        padding-top: 53px;
        padding-bottom: 35px;
    }
}

.hall__title-text {
    max-width: 430px;
    padding-bottom: 100px;
}

@media (width <=1434px) {
    .hall__title-text {
        padding-bottom: 50px;
    }
}

@media (width <=576px) {
    .hall__title-text {
        padding-bottom: 50px;
        max-width: 275px;
        font-size: 18px;
        line-height: 1.27778;
    }
}

.hall__container {
    display: flex;
    gap: 50px;
    position: relative;
}

@media (width <=1220px) {
    .hall__container {
        flex-direction: column;
    }
}

.hall__hall-number {
    display: flex;
    gap: 35px;
}

.hall-number__button {
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #606571;
}

.hall-number__button--active {
    color: #ffc619;
}

.hall__characteristics-one--active,
.hall__characteristics-two--active,
.hall__characteristics-three--active,
.hall__characteristics-four--active {
    display: flex;
    flex-direction: column;
    gap: 11px;
    padding-block: 43px 209px;
    height: 41px;
}

.hall__characteristics-one {
    display: flex;
    flex-direction: column;
    gap: 11px;
    padding-block: 43px 209px;
    height: 41px;
}

.hall__characteristics-two {
    display: none;
    flex-direction: column;
    gap: 11px;
    padding-block: 43px 209px;
    height: 41px;
}

.hall__characteristics-three {
    display: none;
    flex-direction: column;
    gap: 11px;
    padding-block: 43px 209px;
    height: 41px;
}

.hall__characteristics-four {
    display: none;
    flex-direction: column;
    gap: 11px;
    padding-block: 43px 209px;
    height: 41px;
}

@media (width <=1434px) {

    .hall__characteristics-one,
    .hall__characteristics-two,
    .hall__characteristics-three,
    .hall__characteristics-four {
        padding-block: 43px 177px;
    }
}

.characteristics__card {
    display: flex;
    gap: 11px;
    padding: 11px 0 11px 12px;
    width: 325px;
    height: 41px;
    background: linear-gradient(97deg, #f690203d 0%, #131517 100%);
}

.characteristics__card:first-child {
    width: 134px;
}

.characteristics__card:nth-child(2) {
    width: 158px;
}

.characteristics__card:nth-child(3) {
    width: 267px;
}

.hall__switching {
    display: flex;
    gap: 32px;
    padding-bottom: 61px;
}

@media (width <=1434px) {
    .hall__switching {
        padding-bottom: 30px;
    }
}

.switching__back {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: 1px solid #282b32;
}

.switching__next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: 1px solid #282b32;
    background: #2e3441;
}

.switching__next .characteristics__card-icon {
    transform: rotate(180deg);
}

.switching__number-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.number-slide__active-digit {
    font-weight: 500;
    font-size: 24px;
    line-height: 2;
    letter-spacing: 0.03em;
    color: #fff;
}

.number-slide__passive-digit {
    font-weight: 500;
    font-size: 16px;
    line-height: 2;
    color: #606571;
}

.hall__img {
    position: relative;
    width: 100%;
}

.hall {
    position: relative;
    background: #131517;
    z-index: var(--layer-1);
    overflow: hidden;
}

.hall__container {
    display: flex;
    align-items: center;
    gap: 44px;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
}

.hall__img {
    position: relative;
    flex: 1;
    min-width: 300px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.hall__description {
    max-width: 410px;
    padding-bottom: 90px;
}

@media (width <=1220px) {
    .hall__description {
        max-width: 1407px;
        width: 100%;
        padding-bottom: 56px;
    }
}


@media (width > 1220px) {
    .hall__img-mobile {
        display: none;
    }
}

@media (width <=1220px) {
    .hall__img-desktop {
        display: none;
    }

    .hall__container {
        align-items: flex-start;
    }
}

@media (width <=576px) {
    .hall__description {
        max-width: 410px;
    }

    .hall__hall-number {
        flex-wrap: wrap;
        gap: 30px;
        padding-right: 50px;
    }
}

@media (width <=442px) {
    .hall__description {
        max-width: 330px;
    }
}