.hero {
    position: relative;
    background-color: var(--bg-color);
    /* margin-top: 220px; */
}

.hero__container {
    position: relative;
    display: flex;
    align-items: flex-start;
    z-index: var(--layer-1);
}

.hero__header-bg {
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    height: 1077px;
    z-index: var(--layer-negative);
}

.hero__footer {
    position: relative;
    margin-top: 125px;
    z-index: var(--layer-1);
}

/* .hero__img {
    position: relative;
} */

.hero__header-img {
    position: absolute;
    top: 35px;
    left: 946px;
    height: 1180px;
    z-index: var(--layer-negative);
}

@media (width <=1830px) {
    .hero__header-img {
        width: clamp(20.563rem, 14.864rem + 25.26vw, 43.75rem);
        top: 35px;
        left: clamp(50px, -10.637rem + 60.99vw, 946px);
        height: auto;
    }
}

@media (width <=786px) {
    .hero__header-img {
        width: 60%;
        top: 215px;
    }
}

@media (width <=576px) {
    .hero__header-img {
        width: 69%;
        top: 320px;
        height: 586px;
        z-index: var(--layer-negative);
    }
}

@media (width <=400px) {
    .hero__header-img {
        width: 68%;
        margin-left: 57px;
        top: 350px;
        height: 586px;
    }
}

.header-active__img {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 373px;
    top: 490px;
    left: 850px;
    height: auto;
}

.hero_img-active p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-align: center;
    color: #fff;
}

@media (width <=1830px) {
    .header-active__img {
        width: clamp(15.375rem, 13.424rem + 8.65vw, 23.313rem);
        top: 500px;
        left: clamp(13.063rem, 3.217rem + 43.64vw, 53.125rem);
        height: auto;
    }
}

@media (width <=1300px) {
    .header-active__img {
        top: 470px;
        left: 645px;
    }
}


@media (width <=1220px) {
    .header-active__img {
        top: 470px;
        left: 300px;
    }
}

@media (width <=980px) {
    .header-active__img {
        top: 470px;
        left: 185px;
    }
}

@media (width <=576px) {
    .header-active__img {
        width: 200px;
        top: 500px;
        left: 140px;
    }
}

@media (width <=517px) {
    .header-active__img {
        top: 540px;
        left: 100px;
    }
}

@media (width <=400px) {
    .header-active__img {
        top: 535px;
        left: 134px;
    }
}

@media (width <=383px) {
    .header-active__img {
        top: 585px;
        left: 55px;
    }
}

.contacts__img {
    position: absolute;
    top: 583px;
    right: 138px;
    cursor: pointer;
}

@media (width <768px) {
    .contacts__img {
        right: 25px;
    }
}

@media (width <576px) {
    .contacts__img {
        display: none;
    }
}

.hero__header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 70px;
    z-index: var(--layer-2);
}

@media (width <=1220px) {
    .hero__header {
        gap: 25px;
    }
}

@media (width <=1220px) {
    .header-rest-list {
        padding-bottom: 105px;
    }
}

@media (width <=576px) {
    .hero .button {
        margin-top: 20px;
    }
}

.hero__header-text {
    max-width: 895px;
    margin-top: 220px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.hero__title {
    font-weight: 900;
    font-size: clamp(36px, 1.226rem + 4.54vw, 75px);
    line-height: 1.25333;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
}

.hero__title-accent {
    display: inline-block;
    transform: translateY(-23px);
    padding: 7px 13px;
    background: #343a3e;
    border-radius: 60px;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.03em;
    color: #fff;
    text-align: center;
}

@media (width <=400px) {
    .hero__title-accent {
        margin-top: 10px;
    }
}

@media (width <=1220px) {
    .header-rest-list {
        flex-direction: column;
    }

    .hero__footer {
        margin-top: 60px;
    }
}

.header-rest-list {
    display: flex;
    gap: 23px;
}


.header-rest-item {
    max-width: 199px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
}

.header-rest-item:first-child {
    max-width: 235px;
}

@media (width <=576px) {
    .header-rest-item:first-child {
        width: 185px;
    }

    .header-rest-item {
        width: 145px;
        gap: 8px;
    }
}

@media (width <576px) {
    .header-rest-item img {
        width: 37px;
    }
}


.hero__footer-bonuses {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
}

.footer-bonus__line {
    border: 1px solid #ffc6194d;
    min-width: 34px;
    height: 1px;
    margin: 0px 34px 0px 18px;
}

@media (width >=1830px) {
    .footer-bonus__line {
        margin: 0px 34px 0px 18px;
    }
}

@media (width >=1435px) {
    .hero__footer-bonuses {
        grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
    }

    .footer-bonus__line {
        margin: 0px 25px 0px 10px;
    }
}

@media (width <=960px) {
    .hero__title-accent {
        transform: translateY(-12px);
    }

    .hero__footer-bonuses {
        grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
    }

    .hero__footer-bonus:nth-child(odd),
    .hero__footer-bonus:nth-child(even) {
        height: 130px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 20px;
    }

    .footer-bonus__img {
        width: 36px;
        height: 37px;
    }

    .footer-bonus__line {
        width: 18px;
    }

    .footer-bonus__text {
        font-size: 14px;
        line-height: 1.35714;
    }
}

@media (width <=780px) {
    .hero__footer-bonuses {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }
}

@media (width <=530px) {
    .hero__footer-bonuses {
        grid-template-columns: repeat(auto-fit, minmax(179px, 1fr));
    }

    .footer-bonus__line {
        margin: 0px 50px 0px 15px;
    }

    .hero__footer-bonus:nth-child(odd),
    .hero__footer-bonus:nth-child(even) {
        flex-wrap: wrap;
    }

    .footer-bonus__text {
        padding-left: 10px;
    }
}

.hero__footer-bonus:nth-child(odd) {
    background: #282b32;
}

.hero__footer-bonus:nth-child(even) {
    background: #202124;
}

.hero__footer-bonus {
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-inline: 45px;
}



@media (width <=576px) {
    .hero__footer {
        margin-top: 32px;
    }

    .hero__footer-bonuses {
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    }

    .footer-bonus__line {
        margin: 0px 5px 0px 5px;
    }

    .footer-bonus__text {
        max-width: 140px;
    }

    .hero__footer-bonus:nth-child(odd),
    .hero__footer-bonus:nth-child(even) {
        padding-right: 45px;
        max-height: 103px;
    }
}

@media (width <=530px) {
    .hero__footer-bonuses {
        grid-template-columns: repeat(auto-fit, minmax(179px, 1fr));
    }

    .hero__footer-bonus:nth-child(odd),
    .hero__footer-bonus:nth-child(even) {
        padding-right: 35px;
    }

    .hero__footer-bonus:nth-child(3) {
        padding-right: 70px;
    }
}

@media (width <=380px) {

    .hero__footer-bonus:nth-child(odd),
    .hero__footer-bonus:nth-child(even) {
        padding-right: 35px;
    }
}