.hero {
    position: relative;
}

.hero::after {
    content: '';
    width: 100%;
    height: 48px;
    z-index: -1;
    position: absolute;
    bottom: 106px;
    left: 0;
    background: url(../Imgs/Decoration-large-hero.svg);
}

.hero__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 28px;
}

.hero__information {
    max-width: 492px;
}

.hero__information .global__text {
    max-width: 440px;
    margin-bottom: 140px;
}

.hero__information-title {
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 62px;
    line-height: 1.15;
    text-transform: uppercase;
    color: #2c332f;
    padding-bottom: 40px;
}

.title__accent {
    font-weight: 600;
    color: #3596ed;
}

.hero__imgs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.imgs__choose {
    position: absolute;
    top: 40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 22px;
    border: 1px solid #535755;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    text-align: center;
    color: #2c332f;
    background: #ffffffe6;
    max-width: 161px;
}

.news__article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 25%;
    flex: 1 1 25%;
    max-width: 284px;
    background-color: #fff;
    border: 1px solid #d3cbd9;
    overflow: hidden;
}

.header__article-img {
    display: block;
}

.news__info {
    padding: 20px 20px 0;
    margin-bottom: 12px;
}

.news__info-date {
    display: inline-block;
    margin-bottom: 8px;
}

.article-text-color {
    color: #2c332f;
}

.news__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 28px;
}

.footer__article {
    padding: 0 20px 20px;
    margin-top: auto;
}

.footer__article-link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    gap: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    color: #3596ed;
}


.footer__article-link::after {
    content: "";
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 22px;
    height: 9px;
    background-image: url(../Imgs/Arrow_right.svg);
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
}

.footer__article-link:hover::after {
    -webkit-transform: translateX(5px);
    -ms-transform: translateX(5px);
    transform: translateX(5px);
}

.FAQ {
    position: relative;
}

.FAQ::before {
    content: '';
    width: calc(50% - 250px);
    height: 48px;
    z-index: -1;
    position: absolute;
    top: 215px;
    background: url(../Imgs/Decoration-large-hero.svg);
}

.FAQ__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 28px;
}

.FAQ__details {
    margin-bottom: 20px;
    border-block: 1px solid #d3cbd9;
    -webkit-transition-property: all 0.7s;
    -o-transition-property: all 0.7s;
    transition-property: all 0.7s;
}

.FAQ__details:last-child {
    margin-bottom: 0;
}

.FAQ__details[open] summary::after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}

summary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    gap: 10px;
    list-style: none;
    cursor: pointer;
    padding: 20px;
}

summary::after {
    content: '';
    display: inline-block;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 17px;
    height: 23px;
    background: url(../Imgs/Arrow_top.svg) no-repeat center / cover;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}

summary::-webkit-details-marker {
    /*для того, чтобы стили summary не были ввидны в браузерах */
    display: none;
}

details>p {
    padding: 0 20px;
}


/* ========================================================================= */


@media (width <=1440px) {
    .hero__imgs img {
        width: 50%;
    }
}

@media (width <=992px) {

    .hero__information-title {
        margin-bottom: 30px;
        font-size: 52px;
        padding: 0;
    }

    .hero__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .hero__information {
        text-align: center;
    }

    .hero__information .global__text {
        max-width: inherit;
        margin-bottom: 30px;
    }

    .news__container {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        min-width: 225px;
        gap: 20px;
    }

    .news__article {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 350px;
    }

    .header__article-img {
        width: 100%;
    }

    .FAQ::before {
        display: none;
    }

    .FAQ__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .section-mb {
        margin-bottom: 50px;
    }
}

@media (width <=768px) {

    .hero::after,
    .FAQ::before {
        display: none;
    }

    .news__article {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 400px;
    }
}

@media (width <=576px) {

    .hero__information-title {
        font-size: 42px;
    }

    .hero__title {
        max-width: 410px;
    }

    .header__inner {
        margin-bottom: 60px;
    }

    .imgs__choose {
        max-width: 125px;
        padding: 10px;
        font-size: 14px;
    }
}