html {
    font-family: Ubuntu, sans-serif;
    font-weight: 400;
}

body * {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.header__article {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d3cbd9;
    text-decoration: none;
}

.emblem__article {
    max-width: 84px;
    font-size: 21px;
    text-transform: uppercase;
    color: #2c332f;
    text-decoration: none;
}

.contact_information {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.contact_information-text {
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #858e8a;
    padding-bottom: 8px;
}

.contact_information-tel {
    font-weight: 500;
    font-size: 18px;
    color: #2c332f;
    text-decoration: none;
    max-width: 400px;
}

.container {
    max-width: 1250px;
    padding: 0 15px;
    margin: 0 auto;
}

.article {
    padding-bottom: 120px;
}

.article-title {
    max-width: 596px;
    font-family: Oswald;
    font-weight: 600;
    font-size: 48px;
    line-height: 1.15;
    text-transform: uppercase;
    color: #2c332f;
    margin-bottom: 40px;
}

.article-title-large {
    font-size: 48px;
}

.article-title-medium {
    font-size: 36px;
}

.article-text {
    margin-bottom: 20px;
    line-height: 1.3;
    color: #535755;
}

.article-mb {
    margin-bottom: 80px;
}

.article-decor-wrapper-1 {
    position: relative;
}

.article-decor-wrapper-1::before {
    content: '';
    position: absolute;
    top: 100px;
    left: -350px;
    z-index: -1;
    background: url("../Imgs/Decoration.svg");
    width: 528px;
    height: 48px;
}

.decoration {
    position: absolute;
    top: 100px;
    left: -350px;
    z-index: -1;
}

.article-mb-2 {
    margin-bottom: 40px;
}

.article-img {
    width: 100%;
}

.article-list {
    margin-top: 0;
    padding-left: 20px;
}

.article-item {
    margin-bottom: 12px;

}

.article-item::marker {
    color: #3596ed;
    font-size: 20px;
    padding-right: 10px;
}

.article-decor-wrapper-2 {
    position: relative;
}

.decoration-2 {
    position: absolute;
    top: 328px;
    right: -350px;
    z-index: -1;
}

.article-decor-wrapper-2::before {
    content: '';
    position: absolute;
    top: 328px;
    right: -350px;
    z-index: -1;
    background: url("../Imgs/Decoration.svg");
    width: 528px;
    height: 48px;
}

.article-play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #3596ed;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}