* {
	box-sizing: border-box;
}

body {
	min-width: 375px;
	margin: 0;
}

.container {
	max-width: 1280px;
	padding: 0 15px;
	margin: 0 auto;
}

.wrapper {
	min-height: 100vh;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;

}

.header {
	background-color: rgb(230, 135, 135);
	min-height: 100px;
	grid-column: 12 span;
}

.aside {
	background-color: #e2e20d;
	grid-row-start: 1 span;
	grid-column-start: 2 span;

}

.main {
	background-color: #96f07d;
	padding-top: 30px;
	padding-bottom: 30px;
	grid-column: 10 span;
}

.main .container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-template-rows: repeat(2, 400px);
	grid-auto-rows: 350px;
	gap: 20px;
	width: 100%;
	height: 100%;
}

.article {
	background-color: #fcb572;
	min-height: 200px;
}

.footer {
	background-color: #8b9df5;
	min-height: 250px;
	grid-column: 12 span;
}

@media (width <=1200px) {
	.aside {
		grid-column: 1 / 3 span;
	}

	.main {
		grid-column: 4 / 12 span;
	}
}

@media (width <=768px) {
	.main {
		grid-column: 12 span;
	}

	.main .container {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(4, 300px);
	}

	.aside {
		display: none;
	}
}

@media (width <=560px) {
	.main {
		grid-column-start: 12 span;
	}

	.main .container {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(8, 300px);
	}
}