.footer {
    background: -webkit-gradient(linear, left top, right top, from(#49a9ff33), to(#fc7cd933));
    background: -o-linear-gradient(left, #49a9ff33 0%, #fc7cd933 100%);
    background: linear-gradient(90deg, #49a9ff33 0%, #fc7cd933 100%);
    padding: 60px 0 40px;
    text-align: center;
    margin-top: auto;
}

.footer__inner {
    border-bottom: 1px solid #d3cbd9;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.emblem__Fit_STUDIO-footer {
    margin-bottom: 40px;
}

.footer__nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 60px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer__nav a {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    color: #535755;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

.footer__nav a:hover {
    color: #3596ed;
}

.copyright {
    font-size: 14px;
    letter-spacing: 0.04em;
    color: #858e8a;
}


@media (width <=800px) {
    .footer__nav ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 35px;
    }
}