:root {
    --totalColor-text: #312c27;
    --total-BG: #FFF9F4;
    --accent-color-BG: #FFE0CB;
    --accent-color-messenger: #ceaad0;
    --accent-color-elemens: #FFA55C;
}

body {
    font-family: "Montserrat", "Arial", sans-serif;
    line-height: 1.5;
    color: var(--totalColor-text);
    background: var(--total-BG);
}

.body--opened-menu {
    overflow: hidden;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

/* ====================================================================== */

.header {
    background: url("../materials/BGheader.png") 50% 100% / cover no-repeat;
}

.header__top {
    z-index: 5;
}

.header__top-inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 19px;
}

.header__emblem {
    z-index: 150;
}

.header__imgEmblem {
    max-width: 174px;
}

.nav-item {
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
}

.nav-item:last-child {
    padding-right: 0px;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link {
    position: relative;
    z-index: 2;
    display: flex;
    justify-items: center;
    align-items: center;
}

.nav-item::before {
    content: '';
    background: var(--accent-color-elemens);
    width: 34px;
    height: 34px;
    position: absolute;
    top: -8px;
    left: 7px;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.5s;
}

.nav-item:hover::before {
    content: '';
    opacity: 1;
    z-index: 1;
}

.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    z-index: 11;
    position: fixed;
    right: 25px;
}

.burger-icon span,
.burger-icon span::after,
.burger-icon span::before {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: var(--totalColor-text);
    transition: all 0.5s;
}

.burger-icon span {
    position: relative;
}

.burger-icon span::after,
.burger-icon span::before {
    content: '';
    position: absolute;
}

.burger-icon span::after {
    top: -8px;
    transition: all 0.5s;
}

.burger-icon span::before {
    bottom: -8px;
    transition: all 0.5s;
}

.body--opened-menu .burger-icon span {
    background: transparent;
}

.body--opened-menu .burger-icon span::after {
    top: 0px;
    transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::before {
    bottom: 0px;
    transform: rotate(-45deg);
}

.header__content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 48px 0px 140px;
    gap: 30px;
}

.header__description {
    color: var(--totalColor-text);

}

.header__description-start {
    display: flex;
    flex-wrap: wrap;
    color: #b197b3;
    line-height: 1.6;
    margin-bottom: 20px;
}

.header__description-start span {
    display: flex;
    align-items: center;
}

.header__description-start span::after {
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #b197b3;
    line-height: 1.6;
    margin: 0 10px;
}

.header__description-start span:last-child:after {
    content: none;
}

.header__description-titul {
    font-family: 'Gabriola';
    font-size: 74px;
    line-height: 0.82;
    max-width: 519px;
    margin-bottom: 30px;

}

.header__description-paragraf {
    max-width: 358px;
    line-height: 1.5;
    margin-bottom: 40px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 358px;
    height: 62px;
    background: var(--accent-color-elemens);
    border-radius: 60px;
    font-family: 'Montserrat';
    font-weight: 500;
    line-height: 1.6;
    transition: all 0.5s;
    /* cursor: pointer; */
}

.button:hover {
    background: #ff9138;
}

.header__video {
    padding-right: 247px;
    position: relative;
}

.header__video-play {
    display: flex;
    position: absolute;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    max-width: 200px;
    bottom: 50px;
    left: 340px;
    gap: 10px;
    flex-shrink: 0;
}

.header__video-play--mobile {
    display: none;
}

.play__button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 78px;
    min-height: 78px;
    border-radius: 50%;
    background: var(--accent-color-BG);
    box-shadow: 0px 4px 20px 0px #b8947e4d;
    border-spacing: 60px;
    position: relative;
}

.play__button:before {
    content: '';
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    border: 1px solid var(--accent-color-elemens);
    border-radius: 50%;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.play__button:hover:before {
    opacity: 1;
}

/* ==================================================================================== */

@media (max-width: 1200px) {

    .header__video {
        padding-right: 50px;
    }

    .header__video-woman img {
        width: 100%;
    }

    .header__video-play {
        position: static;
        width: 100%;
        margin-top: 20px;
    }
}

@media (max-width: 1000px) {

    .header__top-nav {
        background: var(--total-BG);
        position: fixed;
        inset: 0;
        z-index: 10;
        padding: 26vh 15px 30px;
        font-size: 24px;
        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s;
    }

    .body--opened-menu .header__top-nav {
        display: block;
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }

    .burger-icon {
        display: flex;
    }

    .header__video {
        padding-right: 50px;
    }

    .header__video-play {
        margin-top: 20px;
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
        /* text-align: center; */
        font-size: 24px;
        gap: 4vh 40px;
    }
}

@media (max-width: 790px) {

    .header__video {
        display: none;
    }

    .header__video-play--mobile {
        display: flex;
    }

    .header__description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        text-align: center;
        gap: 20px;
    }

    .header__video-play {
        margin-top: 0px;
    }

    .header__description-titul {
        margin-bottom: 0px;
    }

    .header__description-paragraf {
        margin-bottom: 0px;
    }

    .button {
        min-width: 200px;
    }
}

@media (max-width: 500px) {

    .header__description-titul {
        font-size: 12vw;
    }

    .header__content {
        padding-bottom: 50px;
    }
    .body--opened-menu .header__top-nav .nav-list {
        font-size: 6vw;
    }
}

/* ==================================================================================== */