@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Light'), local('Montserrat-Light'),
        url('/Wake&Bake/fonts/Montserrat-Light.woff2') format('woff2'),
        url('/Wake&Bake/fonts/Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Thin'), local('Montserrat-Thin'),
        url('/Wake&Bake/fonts/Montserrat-Thin.woff2') format('woff2'),
        url('/Wake&Bake/fonts/Montserrat-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Thin'), local('Montserrat-Thin'),
        url('/Wake&Bake/fonts/Montserrat-Thin.woff2') format('woff2'),
        url('/Wake&Bake/fonts/Montserrat-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Black Italic'), local('Montserrat-BlackItalic'),
        url('/Wake&Bake/fonts/Montserrat-BlackItalic.woff2') format('woff2'),
        url('/Wake&Bake/fonts/Montserrat-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Medium Italic'), local('Montserrat-MediumItalic'),
        url('/Wake&Bake/fonts/Montserrat-MediumItalic.woff2') format('woff2'),
        url('/Wake&Bake/fonts/Montserrat-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gabriola';
    src: local('Gabriola'),
        url('/Wake&Bake/fonts/Gabriola.woff2') format('woff2'),
        url('/Wake&Bake/fonts/Gabriola.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat ExtraLight Italic'), local('Montserrat-ExtraLightItalic'),
        url('/Wake&Bake/fonts/Montserrat-ExtraLightItalic.woff2') format('woff2'),
        url('/Wake&Bake/fonts/Montserrat-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Italic'), local('Montserrat-Italic'),
        url('/Wake&Bake/fonts/Montserrat-Italic.woff2') format('woff2'),
        url('/Wake&Bake/fonts/Montserrat-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Black'), local('Montserrat-Black'),
        url('/Wake&Bake/fonts/Montserrat-Black.woff2') format('woff2'),
        url('/Wake&Bake/fonts/Montserrat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
        url('/Wake&Bake/fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('/Wake&Bake/fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Thin Italic'), local('Montserrat-ThinItalic'),
        url('/Wake&Bake/fonts/Montserrat-ThinItalic.woff2') format('woff2'),
        url('/Wake&Bake/fonts/Montserrat-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Thin Italic'), local('Montserrat-ThinItalic'),
        url('/Wake&Bake/fonts/Montserrat-ThinItalic.woff2') format('woff2'),
        url('/Wake&Bake/fonts/Montserrat-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
        url('/Wake&Bake/fonts/Montserrat-Regular.woff2') format('woff2'),
        url('/Wake&Bake/fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Bold Italic'), local('Montserrat-BoldItalic'),
        url('/Wake&Bake/fonts/Montserrat-BoldItalic.woff2') format('woff2'),
        url('/Wake&Bake/fonts/Montserrat-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Light Italic'), local('Montserrat-LightItalic'),
        url('/Wake&Bake/fonts/Montserrat-LightItalic.woff2') format('woff2'),
        url('/Wake&Bake/fonts/Montserrat-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Medium'), local('Montserrat-Medium'),
        url('/Wake&Bake/fonts/Montserrat-Medium.woff2') format('woff2'),
        url('/Wake&Bake/fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat SemiBold Italic'), local('Montserrat-SemiBoldItalic'),
        url('/Wake&Bake/fonts/Montserrat-SemiBoldItalic.woff2') format('woff2'),
        url('/Wake&Bake/fonts/Montserrat-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url('/Wake&Bake/fonts/Montserrat-Bold.woff2') format('woff2'),
        url('/Wake&Bake/fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
        url('/Wake&Bake/fonts/Montserrat-ExtraBold.woff2') format('woff2'),
        url('/Wake&Bake/fonts/Montserrat-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'),
        url('/Wake&Bake/fonts/Montserrat-ExtraLight.woff2') format('woff2'),
        url('/Wake&Bake/fonts/Montserrat-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat ExtraBold Italic'), local('Montserrat-ExtraBoldItalic'),
        url('/Wake&Bake/fonts/Montserrat-ExtraBoldItalic.woff2') format('woff2'),
        url('/Wake&Bake/fonts/Montserrat-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

