main {
background: rgba(224, 225, 233, 0.658);
border: solid rgb(0, 0, 0), .7px;
border-top-left-radius: 15px;
border-bottom-left-radius: 15px;
max-height: 375px;
overflow-y: scroll;
padding-left: 5px;
padding-bottom: 10px;
}

.field-1 {
    background: rgb(186, 171, 143);
    width: 210px;
    height: 150px;
    border-radius: 15px;
    margin-left: 0px; /*Увеличиваю на 170px каждый блок */
    margin-top: -10px; /*Увеличиваю на 220px с учетом предыдущего марджина*/
    box-shadow: inset 0px 0px 5px black;
    }

.div-1 {
    margin: 20px;
    border: 20px;
    font-size: 14px;
    padding-top: 10px;
} 
.field-2 {
    background: rgb(186, 171, 143);
    width: 210px;
    height: 150px;
    border-radius: 15px;
    margin-left: 220px;
    margin-top: -170px;
    box-shadow: inset 0px 0px 5px black;
    }

.div-2 {
    margin: 20px;
    border: 20px;
    font-size: 14px;
    padding-top: 10px;
} 
.field-3 {
    background: rgb(186, 171, 143);
    width: 210px;
    height: 150px;
    border-radius: 15px;
    margin-left: 440px;
    margin-top: -170px;
    box-shadow: inset 0px 0px 5px black;
    }

.div-3 {
    margin: 20px;
    border: 20px;
    font-size: 14px;
    padding-top: 10px;
} 
.field-4 {
    background: rgb(186, 171, 143);
    width: 210px;
    height: 150px;
    border-radius: 15px;
    margin-left: 660px;
    margin-top: -170px;
    box-shadow: inset 0px 0px 5px black;
    }

.div-4 {
    margin: 20px;
    border: 20px;
    font-size: 14px;
    padding-top: 10px;
} 
.field-5 {
    background: rgb(186, 171, 143);
    width: 210px;
    height: 150px;
    border-radius: 15px;
    margin-left: 0px;
    margin-top: -10px;
    box-shadow: inset 0px 0px 5px black;
    }

.div-5 {
    margin: 20px;
    border: 20px;
    font-size: 14px;
    padding-top: 10px;
} 
.field-6 {
    background: rgb(186, 171, 143);
    width: 210px;
    height: 150px;
    border-radius: 15px;
    margin-left: 220px;
    margin-top: -170px;
    box-shadow: inset 0px 0px 5px black;
    }

.div-6 {
    margin: 20px;
    border: 20px;
    font-size: 14px;
    padding-top: 10px;
} 
.field-7 {
    background: rgb(186, 171, 143);
    width: 210px;
    height: 150px;
    border-radius: 15px;
    margin-left: 440px;
    margin-top: -170px;
    box-shadow: inset 0px 0px 5px black;
    }

.div-7 {
    margin: 20px;
    border: 20px;
    font-size: 14px;
    padding-top: 10px;
} 
.field-8 {
    background: rgb(186, 171, 143);
    width: 210px;
    height: 150px;
    border-radius: 15px;
    margin-left: 660px;
    margin-top: -170px;
    box-shadow: inset 0px 0px 5px black;
    }

.div-8 {
    margin: 20px;
    border: 20px;
    font-size: 14px;
    padding-top: 10px;
} 
.field-9 {
    background: rgb(186, 171, 143);
    width: 210px;
    height: 150px;
    border-radius: 15px;
    margin-left: 0px;
    margin-top: -10px;
    box-shadow: inset 0px 0px 5px black;
    }

.div-9 {
    margin: 20px;
    border: 20px;
    font-size: 14px;
    padding-top: 10px;
} 
.field-10 {
    background: rgb(186, 171, 143);
    width: 210px;
    height: 150px;
    border-radius: 15px;
    margin-left: 220px;
    margin-top: -170px;
    box-shadow: inset 0px 0px 5px black;
    }

.div-10 {
    margin: 20px;
    border: 20px;
    font-size: 14px;
    padding-top: 10px;
} 
.field-11 {
    background: rgb(186, 171, 143);
    width: 210px;
    height: 150px;
    border-radius: 15px;
    margin-left: 440px;
    margin-top: -170px;
    box-shadow: inset 0px 0px 5px black;
    }

.div-11 {
    margin: 20px;
    border: 20px;
    font-size: 14px;
    padding-top: 10px;
}