@media (width > 1220px) {
    .burger {
        display: none;
    }
}

@media (width <= 1220px) {
    .burger {
        position: fixed;
        top: 60px;
        right: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 29px;
        height: 12px;
        z-index: var(--layer-3);
    }
}

.burger__icon-menu,
.burger--open .burger__icon-cross {
    display: block;
}

.burger__icon-cross,
.burger--open .burger__icon-menu {
    display: none;
}