.footer {
    background: #131517;
    padding-block: 100px;
}

@media (width >1220px) {
    .footer__container-desktop {
        display: flex;
        align-items: center;
        gap: 60px;
    }

    .footer__container-desktop {
        display: flex;
        align-items: center;
        gap: 60px;
    }

    @media (width <=1690px) {
        .footer__container {
            gap: 20px;
        }
    }

    .footer__contacts {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer__tel {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer__opening-hours {
        display: flex;
        align-items: center;
        gap: 17px;
    }

    .opening-hours-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        min-width: 60px;
        height: 60px;
        background-color: #ffffff12;
        border-radius: 50%;
    }

    .footer__contact-link,
    .opening-hours__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 17px;
    }

    .footer__contact-img {
        max-width: 60px;
        height: 60px;
        padding: 17px;
        border-radius: 40px;
        background: #ffffff12;
    }

    .footer__contact-text {
        color: var(--main-color);
    }

    .footer__contact-location {
        color: var(--main-color);
    }

    .footer__actions {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }

    .footer__actions-hall {
        padding: 25px 57px;
        border: 1px solid var(--accent-color);
        border-radius: 40px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@media (width <=1220px) {
    .footer__container-desktop {
        display: none;
    }
}

/* ---------MOBILE------------------------ */

@media (width >1220px) {
    .footer__container-mobile {
        display: none;
    }
}

@media (width <=1220px) {
    .footer {
        padding-block: 42px;
    }

    .footer__container-mobile {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .footer__contacts {
        display: flex;
        flex-direction: column;
        gap: 13px;
    }

    .footer__contact-link {
        display: flex;
        align-items: center;
        gap: 17px;
    }

    .footer__contact-img {
        max-width: 60px;
        height: 60px;
        padding: 17px;
        border-radius: 40px;
        background: #ffffff12;
    }

    .footer__contact-text {
        color: var(--main-color);
    }

    .footer__contact-location,
    .footer__contact-location--open {
        color: var(--accent-color);
    }

    .footer__actions {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
    }

    .footer__actions-hall {
        padding: 25px 57px;
        border: 1px solid #393c43;
        border-radius: 40px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer__actions-reservation {
        padding: 25px 39px;
        border-radius: 40px;
        background: #fff;
    }

    .FAQ__container {
        padding: 45px 0 0px 0;
    }

    @media (width <=1220px) {
        .FAQ__context-button {
            transform: translateY(-80px);
        }
    }

    @media (width <=768px) {
        .FAQ__context-button {
            transform: translateY(-54px);
        }
    }
}