.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    padding-block: 35px;
    background: #191b20;
    border-bottom: 2px dashed #606571;
    transition: box-shadow var(--transition-time);
    z-index: var(--layer-2);
}

.header--fixed {
    box-shadow: 0 0 20px var(--shadow-color);
    overflow-y: hidden;
    /* padding-block: 43px; */

}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.header__contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: clamp(30px, -16.032rem + 23.48vw, 185px);
}

@media (width > 1290px) {
    .header__contacts {
        gap: 80px;
    }
}

@media (width <=1290px) {
    .header__contacts {
        gap: 20px;
    }
}

.header__contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__contact-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 17px;
}

.header__contact-img {
    max-width: 60px;
    height: 60px;
    padding: 17px;
    border-radius: 40px;
    background: #ffffff12;
}

.header__contact-text {
    color: var(--main-color);
}

.header__contact-location,
.header__contact-location--open {
    color: var(--accent-color);
}

.header__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.header__actions-hall {
    padding: 25px 57px;
    border: 1px solid #393c43;
    border-radius: 40px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__actions-reservation {
    padding: 25px 39px;
    border-radius: 40px;
    background: #fff;
}

@media (width > 1220px) {
    .header__contact-link--local {
        display: none;
    }
}

@media (width <=1220px) {
    .header {
        padding-bottom: 103px;
    }

    .header--open {
        padding-bottom: 409px;
        box-shadow: 0 12px 27px 0 #000;
        background: #282b32;
        /* z-index: var(--layer-3); */
        transition: all var(--transition-time);
    }

    .header__actions {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-35vh);
        transition: all var(--transition-time);
    }

    .header__contact:first-child {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-35vh);
        transition: all var(--transition-time);

    }

    .header__contact-location {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-35vh);
        transition: all var(--transition-time);

    }

    .header__contact-link {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-35vh);
        transition: all var(--transition-time);

    }

    .header--open .header__actions,
    .header--open .header__contact:first-child,
    .header--open .header__contact-link:not(.header__contact-link--local) {
        display: flex;
        opacity: 1;
        visibility: visible;
        transform: translateY(0vh);
    }

    .header--open .header__contact-location {
        display: block;
        opacity: 1;
        visibility: visible;
        transform: translateY(0vh);
    }

    .header--open .header__contact-link--local {
        opacity: 0;
        visibility: hidden;
    }

    .header__contact-link--local {
        position: fixed;
        top: 40px;
        right: 74px;
        width: 51px;
        height: 51px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: var(--);
    }

    .header__contact {
        gap: 30px;
    }

    .header__container {
        position: fixed;
        top: 0;
        left: 0;
        padding: 48px 19px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 32px;
        z-index: var(--layer-2);
        transition: all var(--transition-time);
        pointer-events: none;
    }

    .header__contacts {
        align-items: flex-start;
        flex-direction: column-reverse;
        margin-left: 0;
        gap: 13px;
    }

    .header__contact {
        flex-direction: column;
    }

    .header__actions {
        flex-direction: column;
        gap: 19px;
    }

    .header__actions-hall {
        padding-block: 17px;
    }

    .header__actions-reservation {
        padding: 18px 39px;
    }

    .header__logo {
        width: clamp(162px, -16.084rem + 116.16vw, 277px);
    }

    .header__container--open {
        --container-padding: 0px;
        min-height: 422px;
        background: #282b32;
    }
}

@media (width <=576px) {

    .header__contact-link--local,
    .header__contact-img {
        max-width: 51px;
        max-height: 51px;
    }
}