html {
    font-family: sans-serif;
}

body * {
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    max-width: 1320px;
    padding: 0 15px;
    margin: 0 auto;
}

.header__emblem {
    width: 50px;
    height: 50px;
    background: #000;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #c9c9c9;
    padding: 20px;
}

.header__nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.header_contact {
    text-decoration: none;
}